body {
    background-color: rgb(252, 250, 249);
    display: flex;
    justify-content: center;
    align-items:start;
    height: 100vh;
    margin: 0;

}

.header {
    background: color #66efd7;;
    max-width: 400px;
    padding: 20px;
    border-radius: 15px;    
    border: 1px solid black;
    box-shadow: 0 5px 8px #0155af;
    
}

h1 {
    background-color: #0155af;
    font-size: 50px;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    display: inline-block;
    padding: 10px 20px;
}

label, p {
    display: block;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;   
}

input {
    width: calc(100% - 16px);
    padding: 8px;
    box-sizing: border-box;
    margin: auto;
    border-radius: 10px;
    border: 1px solid #021651;
    margin-top: 20px;
}

#form{
    text-align: center;
}

#submit {
    background: #0155af;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    width: 100px;
    font-size: 15px;
    text-align: center;
}

#submit:hover {
    background:   #38c4db;
}
