body {
    background-color: rgb(252, 250, 249);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    height: 100vh;
    margin: 0;

}

.header {
    text-align: center;
    background: color #66efd7;;
    max-width: 400px;
    padding: 20px;
    margin-top: 2%;
    border-radius: 10px;    
    box-shadow: 0 1px 12px #0155af;
    
}

#appImg {
    display: inline-block;
    width: 75px; 
    height: 75px;
    border-radius: 50px; 
}

h1 {
    background: radial-gradient(circle at 12.3% 19.3%, rgb(85, 88, 218) 0%, rgb(95, 209, 249) 100.2%);
    font-size: 50px;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    display: inline-block;
    padding: 10px 20px;
}

label, p {
    display: block;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;   
}


input {
    width: calc(100% - 16px);
    padding: 8px;
    box-sizing: border-box;
    margin: auto;
    border-radius: 10px;
    border: 1px solid #021651;
    margin-top: 20px;
}

#form{
    text-align: center;
}

#submit {
    background: #0155af;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    width: 100px;
    font-size: 15px;
    text-align: center;
}

#submit:hover {
    background:   #38c4db;
}

#weather-container{


}
#player { 
    margin-top: 100px;
    margin-bottom: 500px;

}

.footer {
    background: linear-gradient(89deg, rgb(21, 74, 189) 0.1%, rgb(26, 138, 211) 51.5%, rgb(72, 177, 234) 100.2%);
        color: white;
        padding: 20px;
        bottom: 0;
        width: 100%;
    
}

/**

@media screen and (max-width: 992px) {
    body {
        
        justify-content: center; 
        align-items: center; 
        flex-direction: column; 
    }

    #appImg {
        flex-basis: 100%; 
        margin-bottom: 10px; 
    }


    .header {
       
        max-width: 90%; 
        margin-top: 5%; 
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    h1 {
        
        font-size: 40px;
        flex-basis: 100%;
        text-align: center;
    }

    #submit {
        width: 80px;
    }

    .footer {
        position: relative;
        bottom: auto; 
        width: 100%; 
        margin-bottom: 5%; 
    }


}



@media screen and (max-width: 768px) {
    body {
        
        justify-content: center; 
        align-items: center; 
        flex-direction: column; 
    }

    #appImg {
        flex-basis: 100%; 
        margin-bottom: 10px; 
    }


    .header {
       
        max-width: 90%; 
        margin-top: 5%; 
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    h1 {
        
        font-size: 40px;
        flex-basis: 100%;
        text-align: center;
    }

    #submit {
        width: 80px;
    }

    .footer {
        position: relative; 
        bottom: auto;
        width: 100%;
        margin-bottom: 5%; 
    }


}